*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#ham{
    display: none;
}
.df{
    display: flex;
}
.column{
    flex-direction: column;
}
.sb{
  justify-content: space-between;
}
body{

    height:100vh;
}
.opink{
    padding:2.4% 7%;
    background: rgb(252, 248, 249);
}
header{
    align-items: center;    
}
.topleft{
    color:rgb(18, 146, 197);
    font-weight: 700;
    font-style: italic;
}
li{
    margin-right: 14px;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0,0.6);
    font-size:0.9em;
    font-weight: 600;
}
ul{
    list-style-type: none;
    align-items: center;
}
button{
    background:rgb(0, 183, 255);
    border:none;
    color:white;
    padding:11px;
    border-radius: 3.5px;
    font-weight: 600;
    cursor: pointer;
}
button img{
    max-width:70%;
    margin-right: 4px;
}
img{
    max-width:80%;
}
.pink{
    padding-top: 2%;
}
.pinkright{
    justify-content: end;
    max-width: 50%;
}
.pinkright img{
    max-width: 60%;
}
.pinkleft{
    max-width:49%;
    padding-top: 5%;
}
.pinkleft h1{
    font-size: 2.5em;
    max-width:75%;
    font-weight: 700;
}
p,.join{
    color:rgba(0, 0, 0,0.6);
    font-size: 0.9em;
}
.pinkleft p{
    font-size: 0.9em;
    margin:2% 0;
    max-width: 86%;
}
.buttonn{
    align-items: center;
    gap:10px;
}
.buttonn a{
    color:rgb(18, 146, 197);
}
span{
    color:rgb(18, 146, 197);
}
.join{
    font-size: 0.9em;
    max-width: 70%;
    line-height: 1.4em;
}
.allfig{
    margin:3% 0 2% 0;
}
.white{
    padding:4% 7%;
}
.white h2{
    max-width:25%;
    font-weight: 700;
    margin-bottom: 2.5%;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.features div{
    border:1.9px rgb(128, 128, 128,0.3) solid;
    border-radius: 3px;
    padding:7px ;
    max-width: 75%;
}
.features b{
    margin:7px 0 9px 0;
}
.rev{
    border-radius: 7px;
    width:30%;
    padding:13px;
    height: fit-content;
    margin-right:0.33%;
    background: white;
}
.rev p{
    max-width:94%;
}
.revtop{
    align-items: center;
}
.revtopleft{
    align-items: center;
}
.revtop img{
    margin-right: 7px;
}
.revtop figure img{
    max-width: 20px;
}
.revmid{
    margin:10px 0;
}
.revmid p{
    line-height: 1.4em;
}
.revdown img{
    max-width: 20px;
    margin-right: 4px;
}

.features img{
    max-width:8%;
}
.blue{
    background: rgb(196, 238, 255);
    padding:2% 7%;
}
.blue h2{
    font-weight: 700;
    margin-bottom: 2.5%;
}
.downwhite{
    align-items: center;
    padding:3.5% 7%;
}
h1{
    font-size: 2em;
}
.start{
    max-width: 40%;
    text-align: center;
    margin:10px 0 3.5% 0;
}
.pricingbox{
    padding:20px 17px;
    border-radius: 7px;
    border:1.4px rgb(230, 150, 1) solid;
    background: rgb(252, 248, 249);
}
h4{
    color:rgba(0, 0, 0,0.6);
    font-weight: 400;
}
.pricingbox span{
    color:rgba(0, 0, 0,0.6);
    font-size: 15px;
    font-weight: 400;
}
.pricingbox img{
    max-width:17px;
}
.pricingsfeatures{
    margin:10px 0 7px 0;
    gap:14px;
    padding:15px 0;
    border-top: 1.4px rgba(0, 0, 0,0.2) solid;
    border-bottom: 1.4px rgba(0, 0, 0,0.2) solid;
}

.feats img{
    margin-right: 7px;
}
.pricingsfeatures p{
    max-width:90%;
}
.downwhite button{
    width:100%;
    justify-content: center;
}
footer{
    padding:1.5% 7%;
    background: rgb(196, 238, 255);
}
footer img{
    max-width: 20px;
}
footer a{
    color:black;
    font-weight: 400;
}
.fright{
    gap:7px;
}
@media (max-width:1000px){
   #ham{
    display:block;
   }
   #navbar{
    display: none;
   }
   header img{
    text-align: center;
    margin-top: 4px;
   }
   .pink{
    flex-direction: column-reverse;
   }
   .pinkleft,.pinkright,.pink p,.features div,.white h2,.start,.pink figcaption,h2,.white{
    max-width:100%;
   }
   .pinkright img{
    max-width:100%;
   }
   .pinkleft h1{
    max-width: 100%;
    font-size: 1.9em;
   }
   .buttonn{
    flex-direction: column;
   }
   .buttonn button{
    width: 100%;
    justify-content: center;
   }
   h2{
    width:300px;
   }
   .features{
    display: flex;
    flex-direction: column;
   }
   .reviews{
    flex-direction: column;
    gap:15px;
   }
   .rev{
    width: 100%;
   }
   .downwhite h1{
    text-align: center;
   }
   footer{
    flex-direction: column;
    gap:11px;
   }
   @media (min-width:500px) and (max-width:1100px){
     #ham{
        display:none;
     }
     #navbar{
        display:block;
     }
     .pinkright img{
        height: 700px;
        width:100%;
     }
     .buttonn button{
        max-width: fit-content;
     }
     .join{
        width:60%;
     }
     .features p{
        width:90%;
     }
     .reviews,footer,.buttonn{
        flex-direction: row;
     }
   }
}